
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}.main{
    background-color:rgb(95, 95, 210) ;
    width: 1000px auto;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 28px;
    color: white;
    margin-top: 5px;
}

.father{
    display: flex;
    gap: 5px;
    height: 50vh;
    
    
    

}

.left-side, .right-side{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.box1{
    background-color: wheat;
    width: 350px;
    height: 200px;
    margin-left: 5px;
    text-align: center;
    padding-top: 20px;
    color: white;

    
}
.box2{
    background-color: lightgreen;
    width: 350px;
    height: 300px;
    text-align: center;
    padding-top: 20px;
    margin-left: 5px;
    color: white;
    margin-bottom: 5px;

}


.box3{
    background-color: yellow;
    width: 1000px ;
    height: 400px;
    text-align: center;
    padding-top: 20px;
    margin-right: 5px;
    color: white;
    
    

    
}
.box4{
    background-color: rgb(166, 152, 152);
    width: 1000px ;
    height: 150px;
    text-align: center;
    padding-top: 20px;
    margin-right: 5px;
    color: white;
    margin-bottom: 5px;
    
    
}

.sister{
    display: flex;
    gap: 5px;
}
    



.box5{
    background-color: aqua;
    width: 900px;
    height: 150px;
    text-align: center;
    padding-top: 20px;
    margin-left: 5px;
    color: white;
    

}

.box6{
    background-color: lightpink;
    width: 450px;
    height: 150px;
    text-align: center;
    padding-top: 20px;
    color: white;
    margin-right: 5px;
    

}

.footer{
    background-color: rgb(144, 78, 205);
    text-align: center;
    padding-top: 15px;
    margin-left: 5px;
    margin-right: 28px;
    color: white;
    margin-top: 5px;
    height: 50px;

}